

.title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #158467;
    color: #fff;
    padding: 7em;
    margin-bottom: 2em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
  }

.img-container {
    background: #158467;
    padding: 2em;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

}
.app > h1 {
    margin-top: 0;
    margin-bottom: 2em;
    text-align: center;
  }
  

.app > h2 {
    margin-top: 5px;
    opacity: 0.7;
    font-size: 1.2rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.fetch-button {
    min-width: 150px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(54, 202, 165);
    border: none;
    color: rgb(15, 66, 54);
    transition: all 0.5s;
}

.username {
    cursor: pointer;
    color: rgb(41, 186, 243);
}

.activity {
    padding: 2em;
    margin-left: 5em;
    justify-content: center;
    display: flex;
    align-items: center;
}