.header {
  background-color: #158467;
}

.navbar-brand {
  padding: 1em;
  margin: 2em;
}

.githublink {
  background-color: #158467;
  color: #158467;
}

.item {
  size: 20rem;
}

.title {
  background-color: #158467;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 7em;
  margin-bottom: 5em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}